.cell {
  position: relative;
  width: 100%;
  background-color: rgba($color: #DDDDDD, $alpha: 1);

  .fret-line {
    background-color: #FFFFFF;
    z-index: 1;
    position: absolute;
    width: 3px; height: 100%;
    right: 0;
    transform: translateX(50%)
  }

  &:hover {
    background-color: rgba($color: #DDDDDD, $alpha: 0.5);
  }
}