.cell {
  position: relative;
  width: 100%;
  background-color: #dddddd; }
  .cell .fret-line {
    background-color: #FFFFFF;
    z-index: 1;
    position: absolute;
    width: 3px;
    height: 100%;
    right: 0;
    transform: translateX(50%); }
  .cell:hover {
    background-color: rgba(221, 221, 221, 0.5); }
