.strings-setup {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  .strings-setup-cell {
    flex: 1 0;
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    line-height: 23px;
    padding-right: 10px;

    // border-top: solid 1px black;
    // border-right: solid 1px black;
  }
}
  